.tag {
  display: inline-block;
  padding: 6px 10px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}

.available {
  background-color: #1f98ff;
}

.reserved {
  background-color: #feb342;
}

.fullyReserved {
  background-color: #fe6e42;
}

@media (max-width: 480px) {
  .tag {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 10px;
  }
}
