.tag {
  display: inline-block;
  padding: 6px 10px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}

.available {
  background-color: #1f98ff;
}

.reserved {
  background-color: #feb342;
}

.fullyReserved {
  background-color: #fe6e42;
}
