.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contents {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.16);
  width: 400px;
  padding: 3rem 4rem;
}

h2 {
  color: #1f98ff;
  margin: 0;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.horizontalLine {
  height: 1px;
  width: 100%;
  border-top: 1px solid #c3c3c3;
}

.findPasswd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.findPasswd a {
  font-size: 12px;
  color: #c3c3c3;
  cursor: pointer;
  text-decoration: none;
}

.loginButton {
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: #1f98ff;
  color: white;
  cursor: pointer;
}

.signupButton {
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: #c3c3c3;
  color: white;
  cursor: pointer;
}
