.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #c3c3c3;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 460px;
  padding: 3rem 4rem;
}

h1 {
  font-size: 38px;
  color: #1f98ff;
  margin: 0;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contents form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.findPasswd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.findPasswd a {
  font-size: 12px;
  color: #c3c3c3;
  cursor: pointer;
  text-decoration: none;
}

.loginButton {
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: #1f98ff;
  color: white;
  cursor: pointer;
}

.signupButton {
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: #c3c3c3;
  color: white;
  cursor: pointer;
}
