@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.memberManagementContainer {
    padding: 20px;
    font-family: 'Pretendard-Regular';
    max-width: 1000px;
    margin: auto;
    margin-bottom: 400px;
}

.memberManagementContainer h1 {
    text-align: center;
    margin-bottom: 20px;
}

.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.searchBar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}

.searchButton {
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

table th {
    background-color: #f4f4f4;
}

.deleteButton {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}