.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 38px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.contents {
  color: #1f98ff;
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
}

.bars {
  cursor: pointer;
  font-size: 20px;
}

.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation li a {
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
  color: #1f98ff;
}

.navigation li div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  border-left: 1.5px solid #1f98ff;
  margin: 0 0.8rem;
}
