.wrapper {
  display: flex;
  height: 100%;
  gap: 4rem;
}

.borrow,
.return {
  padding: 2rem;
}

.table {
  border-radius: 30px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #cecece;
}

.table th,
.table td {
  border: none;
  padding: 1rem 2rem;
}
