.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contents {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 34px;
}

.container h1 {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #1f98ff;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 12px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #1f98ff;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link {
  color: #c3c3c3;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.verticalLine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  border-left: 1.4px solid #c3c3c3;
  margin: 0 0.4rem;
}
