* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25rem;
}

hr {
  border: 1px solid #cecece;
  width: 100%;
}

.contents {
  display: flex;
  gap: 14px;
  padding: 14px 20px;
}

.bookImage {
  width: 160px;
  height: 220px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookIntro {
  flex: 1;
  padding: 10px;
}

.bookIntro h2,
p {
  margin: 0 0 12px 0;
}

.bookIntro h2 {
  display: inline-block;
}

.bookIntro h2:hover {
  color: #1f98ff;
  cursor: pointer;
}

.bookIntro p {
  color: #808080;
  font-size: 12px;
}
